<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../../components/Head/head')%>
    <link rel="stylesheet" href="../../global.less" />
    <title>Логин</title>
</head>
<body>
    <main class="wrapper">
        <div class="form-container">
          <form class="form">
            <%- include('../../components/Title20/Title20', {'text': 'Вход'})%> 
            <div>
              <%- include('../../components/Input/Input', {'labelFor': 'login', 'labelText': 'Логин', 'inputType': 'text', 'inputId': 'login', 'inputName': 'login', 'value': '', 'readonly': false})%>
              <%- include('../../components/Input/Input', {'labelFor': 'password', 'labelText': 'Пароль', 'inputType': 'password', 'inputId': 'password', 'inputName': 'password', 'value': '', 'readonly': false})%>
            </div>
            <%- include('../../components/Buttons/Buttons', {'value': 'Авторизоваться', 'className': 'form__button', 'disabled': false})%> 
          </form>
          <%- include('../../components/Links/Links', {'link': '../signIn/signIn.ejs', 'className': 'text-center', 'text': 'Нет аккаунта?'})%> 
        </div>
    </main>
</body>
</html>
