<div class="form__item">
    <label for="<%= labelFor %>" class="form__label"><%= labelText %></label>
    <input type="<%= inputType %>" id="<%= inputId %>" name="<%= inputName %>" value="<%= value %>" <%= readonly === true ? 'readonly' : '' %>  class="form__input">
</div>