<script type="module" src="../../components/ContactsItems/index.js"></script>

<div class="menu__list-item">
    <img class="item__avatar" src="<%= avatar %>" alt="" width="47">
    <p class="item__name"><%= name %></p>
    <p class="item__lastMsg"><%= lastMsg %></p>
    <p class="item__time"><%= date %></p>
    <div class="item_unreadMsg"><%= unreadMsg %></div>
</div>
