<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../../components/Head/head')%>
    <link rel="stylesheet" href="../../global.less" />
    <title>Профиль</title>
</head>
<body>
    <main class="wrapper">
        <div class="form-container">
            <%- include('../../components/Avatar/Avatar')%> 
            <form class="form" data-form="profile-data">
                <%- include('../../components/Title20/Title20', {'text': 'Имя пользователя'})%> 
                <div>
                    <%- include('../../components/Input/Input', {'labelFor': 'email', 'labelText': 'Почта', 'inputType': 'email', 'inputId': 'email', 'inputName': 'email', 'value': 'pochta@yandex.ru', 'readonly': true})%>
                    <%- include('../../components/Input/Input', {'labelFor': 'login', 'labelText': 'Логин', 'inputType': 'text', 'inputId': 'login', 'inputName': 'login', 'value': 'ivanivanov', 'readonly': true})%>
                    <%- include('../../components/Input/Input', {'labelFor': 'first_name', 'labelText': 'Имя', 'inputType': 'text', 'inputId': 'first_name', 'inputName': 'first_name', 'value': 'Иван', 'readonly': true})%>
                    <%- include('../../components/Input/Input', {'labelFor': 'second_name', 'labelText': 'Фамилия', 'inputType': 'text', 'inputId': 'second_name', 'inputName': 'second_name', 'value': 'Иванов', 'readonly': true})%>
                    <%- include('../../components/Input/Input', {'labelFor': 'display_name', 'labelText': 'Имя в чате', 'inputType': 'text', 'inputId': 'display_name', 'inputName': 'display_name', 'value': 'Иван', 'readonly': true})%>
                    <%- include('../../components/Input/Input', {'labelFor': 'phone', 'labelText': 'Телефон', 'inputType': 'tel', 'inputId': 'phone', 'inputName': 'phone', 'value': '+7(909)9673030', 'readonly': true})%>
                </div>
                <%- include('../../components/Buttons/Buttons', {"value": 'Сохранить', "className": 'form__button --main', 'disabled': false})%>
            </form>
            <button class="btn btn-link">Изменить данные</button>
            <button class="btn btn-link" data-button="1">Изменить пароль</button>
            <a href="../../pages/main/main.ejs" class="btn btn-return">Выйти</a>
            <div class="modal" data-modal="1">
                <div>
                    <form class="form">
                        <div>
                            <div class="form__item">
                                <label for="oldPassword" class="form__label">Старый пароль</label>
                                <input type="password" id="oldPassword" name="oldPassword" class="form__input">
                            </div>
                            <div class="form__item">
                                <label for="newPassword" class="form__label">Новый пароль</label>
                                <input type="password" id="newPassword" name="newPassword" class="form__input">
                            </div>
                            <div class="form__item">
                                <label for="repeatPassword" class="form__label">Повторите новый пароль</label>
                                <input type="password" id="repeatPassword" name="repeatPassword" class="form__input">
                            </div>
                        </div>
                        <%- include('../../components/Buttons/Buttons', {"value": 'Сохранить', "className": 'form__button', 'disabled': true})%>
                    </form>
                    <img class="modal_close" src="../../static/icons/close.svg" alt="">
                </div>
            </div>
            <div class="modal" data-modal="2">
                <div>
                    <%- include('../../components/Title20/Title20', {'text': 'Загрузите файл'})%>
                    <form method="post" enctype="multipart/form-data">
                        <label class="input-file">
                            <span class="input-file-text" type="text"></span>
                            <input type="file" name="file" accept="image/*,image/jpeg">        
                            <span class="input-file-btn">Выберите файл</span>
                         </label>
                         <%- include('../../components/Buttons/Buttons', {"value": 'Поменять', "className": 'form__button', 'disabled': true})%>
                    </form>
                    <img class="modal_close" src="../../static/icons/close.svg" alt="">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
